*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    background-color: black;
}

header {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span{
        color: #dddddd;
        font-size: 44px;
        margin-left: 50px;
    }
    input{
        width: 700px;
        height: 50px;
        border-radius: 10px;
        font-size: 24px;
        padding-left: 20px;
        margin-right: 100px;
        outline: none;
    }
}
main{
    background-color: #cdcdcd;
    height: 100%;
    width: 100%;
    font-size: 44px;
    padding-top: 30px;
    ul{
        list-style: none;
        width: 90%;
        margin: 0 auto;
        li{
            height: 50px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            background-color: #ffffff;
            margin-left: -20px;
            border-radius: 8px;
            line-height: 50px;
            margin-top: 20px;
            position: relative;
            em{
                display: block;
                background-color: #629a9c;
                width: 10px;
                height: 100%;
                border-radius: 8px 0 0 8px;
            }
            input{
                display: block;
                zoom:300%;
                margin-left: 10px;
                margin-right: 10px;
            }
            i{
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #cccccc;
                color: #ffffff;
                font-size: 24px;
                text-align: center;
                line-height: 30px;
                position: absolute;
                right: 0;
                margin-right: 30px;
                cursor: pointer;
            }
        }
    }
    .top{
        p{
            padding-left: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            span{
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                background-color: #e5e6f9;
                color: #656765;
                font-size: 30px;
                margin-right: 118px;
            }
        }
    }
    .bottom{
        margin-top: 20px;
        p{
            padding-left: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            span{
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                background-color: #e5e6f9;
                color: #656765;
                font-size: 30px;
                margin-right: 118px;
            }
        }
    }
}
footer{
    background-color: #cdcdcd;
    color: #9b9999;
    text-align: center;
    font-size: 24px;
}